
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(90deg,#fab4fd,#961fde);
}
.container{
    background-color: #ffffff;
    width: 310px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 35px;
    height: 625px;
    margin-left: 40%;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 59px 30px 26px 22px;
}
.section1 img{
   height: 70px;
   width: 70px;
   padding:0px 15px 0 15px;
   
}
.section1{
    display: flex;
    padding: 10px;
    font-size: 12px;
    
}
.pr{
    display: flex;
    
}
.price{
    color: white;
    background-color: #076ff8  ;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    margin: 6px 6px 0 0;
}
.bed{
    color: #878789;

}

.section1 p{
    margin-top: 7px;
}
.icons{
    color:#076ff8 ;
    font-size: 23px;
    display: flex;
    justify-content: space-evenly;  
    background-color: #ffffff;
    margin-left: 40%;
    padding: 18px 0px 10px 0px;
    width: 310px;
    position: absolute;
    bottom: 18px;
    border-radius: 10px;

}